.pagina-livros {

  min-height: 100vh;
  padding: 2rem;

  /* DUAS CAMADAS DE FUNDO */
  background:
    linear-gradient(#EEEEDD, rgba(224, 224, 211, 0.829)), /* controla opacidade */
    url('/background-star.png'); /* imagem */
    
  background-size: 450px;
  background-repeat: repeat;
  background-attachment: fixed;
}


/* grid do seu amigo */
.livros-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.livro {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.livro:hover {
  transform: scale(1.05);
}

.livro img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.livro h3 {
  font-weight: 700;
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

.livro p {
  font-size: 0.85rem;
  color: #444;
}
