
body {
  margin: 0;
  background-color: #eeeaea;
}
.livros-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 30px;
  justify-items: center;
}

.livro {
  width: 150px;
  height: 220px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.livro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

